In [6]:
import os
import pandas as pd;pd.__version__

'0.23.0'

In [8]:
trade_folder = r'E:/Dropbox/Trade/DataOutput'
ticker = 'CL ##-##'

In [20]:
df = pd.read_csv(ticker +'.csv').set_index('TickDateTime')

In [15]:
trade_df = pd.read_csv(os.path.join(trade_folder, ticker + '.csv'), names=['Direction', 'TimeFrame', 'Ticker', 'Quantity', 'EntryTime', 'EntryPrice', 'PeelTime', 'PeelPrice', 'StopPrice','TargetPrice','ATR','NextBar1Pice','NextBar2Price','NextBar3Price','MAE', 'MFE']);trade_df.head()

,Direction,TimeFrame,Ticker,Quantity,EntryTime,EntryPrice,PeelTime,PeelPrice,StopPrice,TargetPrice,ATR,NextBar1Pice,NextBar2Price,NextBar3Price,MAE,MFE
0,Long,ID2,CL ##-##,1,4/4/2019 10:36:32 AM,61.98,4/4/2019 11:06:57 AM,62.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Long,ID2,CL ##-##,1,4/3/2019 8:35:47 AM,62.59,4/3/2019 9:01:08 AM,62.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Long,ID2,CL ##-##,1,4/3/2019 9:17:55 AM,62.44,4/3/2019 9:31:06 AM,62.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Long,ID2,CL ##-##,1,4/3/2019 11:40:47 AM,62.19,4/3/2019 12:03:06 PM,62.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Short,ID3,CL ##-##,1,4/3/2019 12:29:51 PM,62.58,4/3/2019 12:50:27 PM,62.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.loc[trade_df['EntryTime'][0]]

OpenPrice                   61.98
HighPrice                      62
LowPrice                    61.97
ClosePrice                  61.99
Volume                        261
Id3BarNumber                 7204
Id2BarNumber                 1469
Id1BarNumber                  319
DailyBarNumber                 72
Id3Atr                     0.1271
Id2Atr                     0.2371
Id1Atr                     0.5964
DailyAtr                   1.2829
Id3MarketEnv            TRAC-Down
Id2MarketEnv            TRAC-Down
Id1MarketEnv            TRAC-Down
DailyMarketEnv       TREND-Div-Up
Id3OneOneHigh             61.9933
Id3OneOneLow              61.8933
Id3EnvelopeHigh           62.0733
Id3EnvelopeLow            61.9633
Id3LiveLiveDot            61.9689
Id3LiveDot                61.9844
Id3Dot                    62.0333
Id2OneOneHigh             62.1533
Id2OneOneLow              61.8133
Id2EnvelopeHigh           62.3744
Id2EnvelopeLow            62.0811
Id2LiveLiveDot            61.9956
Id2LiveDot                62.0967
Id2Dot                    62.2522
Id1OneOneHigh             62.4467
Id1OneOneLow              61.6667
Id1EnvelopeHigh           62.6478
Id1EnvelopeLow            62.0511
Id1LiveLiveDot            62.0444
Id1LiveDot                62.2133
Id1Dot                    62.3589
DailyOneOneHigh             62.97
DailyOneOneLow              62.03
DailyEnvelopeHigh         62.7778
DailyEnvelopeLow          61.5244
DailyLiveLiveDot          62.2389
DailyLiveDot              62.3467
DailyDot                  62.0189
Name: 4/4/2019 10:36:32 AM, dtype: object